*{
    margin: 0;
    padding: 0;
}

.body{
    width:1400px;
    height: auto;
    min-height: 3000px;
    border: solid bold 1px;
    overflow: hidden;
}

#header{
    width:100vw;
    height: 100px;
    background-color: aqua;
    display: flex;
    position: fixed;
    
}

#divlogo{
    width: 200px;
    height: inherit;
    background-color: black;
}
#logo{
    padding-left: 64px;
}

#menu{
    width: 1200px;
    height: inherit;
    background-color: black;
    display: flex;
    justify-content: center;
}

.topico{
    width: 200px;
    height: 30px;
    margin-top:40px;
/*    background-color:aqua;*/
    text-align: center;
    box-sizing: border-box;
    color: white;
    font-size: 1.3em;
    font-family: cursive;
}
a{
    text-decoration: none;
    color: white;
}
#redeSocial{
    width: 200px;
    height: inherit;
    background-color: black;
    display: flex;
    float: right;
    padding: 10px;
    box-sizing: border-box;
    padding-top: 30px;
}

#imgInsta{
    width: 30px;
    height: 30px;
/*    background-color: cadetblue;*/
    padding-right: 5px;
    
}

#imgFace{
    width:30px;
    height: 30px;
/*    background-color:chocolate;*/
    padding-right: 5px;
}

#imgTwitter{
    width:30px;
    height: 30px;
/*    background-color: black;*/
    padding-right: 5px;
}
.icon{
    width: inherit;
    height: inherit;
}
#main{
    width:inherit;
    min-height: 2100px;
    height:auto;
    background-color:#001d3d;
}

#divcapa{
/*    width: inherit;*/
    height: 800px;
    background-size: cover;
    background-image: url(../img/fortnite.jpg);
/*
    background-position: center;
    object-position:
*/
}
#buscas {
    width: inherit;
    height: auto;
    min-height:50px;
/*    background-color: beige;*/
    
}
#iconeMenu{
    width:  50px;
    height: 50px; width:  50px;
    height: 50px;
    float: left;
    background-image: url(../img/barra-de-menu.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    margin-left: 15px;
    margin-top: 5px
}

#iconeMenu:hover {
    background-color:azure;
}


#menu{
    width: inherit;
    height: inherit;
}

.menuItem{
    width:  50px;
    height: 50px;
    float: left;
    background-image: url(../img/barra-de-menu.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    margin-left: 15px;
    margin-top: 5px
}

.menuItem:hover{
    background-color: white;
    color: aqua;
    cursor: pointer;
}

.menuItem:hover >#caixaSubMenu{
/*    display: block;*/
    
/* permite manipular a tranparencia do elemento*/
    opacity: 1;
    
/*permite aparecer com o elemento que foi oculto*/
    visibility: visible;
    transition: 1s;
    margin-left: 50px;
    
}

li{
    list-style: none;
}

#caixaSubMenu{
    width: 150px;
    height: 150px;
    background-color: black;
    margin-top: 10px;
    font-size: 1.6em;
    padding: 10px;
    opacity: 0;
    visibility: hidden;

    
}

#barraPesquisar{
    width: 450px;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    float: right;
    margin-right: 20px;
    font-size: 1.4em;
    color: white;
    
}

.inputPesquisa{
    width: 60%;
	margin: 0 auto;
	padding: 10px;
	border: none;
	margin-bottom: 10px;
	border-radius: 50px;
    background-color: Silver;
    
}
.button{
    padding: 10px;
	width: 80px;
	margin: 0 auto;
	border-radius: 50px;
	border: none;
	text-transform: uppercase;
	font-weight: 700;
	background-color: Silver;
	
	cursor: pointer;
}
.catalogo{
    width: 1300px;
    height: auto;
    min-height: 650px;
/*    background-color: azure;*/
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
   
    
    
}

.produto{
    width: 400px;
    height: 600px;
    background-color: #adb5bd;
    float: left;
    margin-top: 10px;
    box-sizing: border-box;
    margin-right: 10px;
    border-radius:5%;
    border: solid 1px black;
    
    
}

.imagem{
    width: 400px;
    height: 365px;
/*    background-color: antiquewhite;*/
}
.formatacaoImg{
     width: 80%;
    height: 365px;
    padding-left: 55;
    box-sizing: border-box; 
    
}


.nomeProduto{
    width: inherit;
    height: 50px;
    padding:10px;
    box-sizing: border-box;
    font-size: 1.3em;
    font-weight: bold;
    
}
.descricaoProduto{
    width: inherit;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    
}
.saibaMaisEpreco{
    width: 250px;
    height: 70px;
    float: left;
/*    background-color: bisque;*/
}

.botao{
    width: 90px;
    height: 35px;
    margin-left: 10px;
    margin-top: 34px;
}
.desconto{
    width: 110px;
    height: 65px;
    float: left;
    margin-top: 20px;
}
.preco{
    width: inherit;
    height: inherit;
/*    padding-left: 200px;*/
    font-size: 1.2em;
}

#descicaoEmpresa{
    width: inherit;
    height: auto;
    min-height: 400px;
    background-color:DarkBlue;
    color: white;
    font-family: arial;
}
#aEmpresa{
    width: 60%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 25px;
    
}

#SobreEmpresa{
    width: 50%;
    height: inherit;
    padding: 30px
}

p{
    font-size: 1.2em;   
}

#imgEmpresa{
    
    justify-content: center;
    padding-top: 45px;

}
h1{
    margin-bottom: 15px
}

#promocoes{
     width: 1300px;
    height: auto;
    min-height: 650px;
/*    background-color: azure;*/
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-top: 15px;
    padding: 10px;
}

#destaquesDaloja{
    width: inherit;
    height: 500px;
    color: aliceblue;
    background-color:DarkBlue; 
    margin-top: 30px;
}
#titulo{
    height: 60px;
    margin-bottom: 15px;
}
#destaques{
    width: 1300px;
    height: auto;
    min-height: 300px;
/*    ;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    padding: 15px; 
    
    
}
#ciculos{
    width: 1200px;
    height: inherit
    overflow: hidden;
    display: flex; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
/*    background-color: aqua;*/
}
.circleBase {
    border-radius: 50%;
/*    behavior: url(PIE.htc);  remove if you don't care about IE8 */
    
}

.type1 {
    width: 300px;
    height: 290px;
    margin-bottom:10px;
    margin-right: 90px;
    background-size: cover;
    border: 3px solid white;
    
}

.type2{
    background-image: url(../img/fifa20.jpg)
}
.type3{
    background-image: url(../img/fifa21.jpg)
}
.type4{
    background-image: url(../img/fifa.PNG)
}

#footer{
    background-color:#001d3d;
    width: inherit;
    height: 400px;
    display: flex;
    justify-content: center;
    color: aliceblue;
    
}
#unidades{
    width: 400px;
    height: 300px;
/*    background-color: aliceblue;*/
    padding: 20px;
}
#uniosasco{
    margin-top: 10px;
    width: inherit;
    height: 150px;
    
}
.imgEtexto{
    display: flex;
}

.imgLocal{
    width: 70px;
    height: 70px;
    background-color:azure;
    background-image: url(../img/localizacao.png);
    background-repeat: no-repeat;
    
}

.endereco{
    width: 200px;
    height: 100px;
/*    background-color: bisque;*/
    font-size: 1.3em;
    padding-left: 5px;
    
}

#unicarapicuiba{
    margin-top: 10px;
    width: inherit;
    height: 150px;
    
}

#contato{
     width: 400px;
    height: 300px;
/*    background-color: salmon;*/
    padding: 20px;
    margin-left: 20px;
}

#divEnviar{
    margin-left: 195px;
}