*{
    margin: 0;
    padding: 0;
}

.body{
    width:1400px;
    height: auto;
    min-height: 3000px;
    border: solid bold 1px;
    overflow: hidden;
}

#header{
    width:inherit;
    height: 100px;
    background-color: aqua;
    display: flex;
    position: fixed;
    
}

#divlogo{
    width: 200px;
    height: inherit;
    background-color: black;
}
#logo{
    padding-left: 64px;
}

#menu{
    width: 100vw;
    height: inherit;
    background-color: black;
    display: flex;
    justify-content: center;
}

.topico{
    width: 200px;
    height: 30px;
    margin-top:40px;
/*    background-color:aqua;*/
    text-align: center;
    box-sizing: border-box;
    color: white;
    font-size: 1.3em;
    font-family: cursive;
}
#redeSocial{
    width: 200px;
    height: inherit;
    background-color: black;
    display: flex;
    float: right;
    padding: 10px;
    box-sizing: border-box;
    padding-top: 30px;
}

#imgInsta{
    width: 30px;
    height: 30px;
/*    background-color: cadetblue;*/
    padding-right: 5px;
    
}

#imgFace{
    width:30px;
    height: 30px;
/*    background-color:chocolate;*/
    padding-right: 5px;
}

#imgTwitter{
    width:30px;
    height: 30px;
/*    background-color: black;*/
    padding-right: 5px;
}
.icon{
    width: inherit;
    height: inherit;
}
#main{
    width:inherit;
    min-height: 2100px;
    height:auto;
    background-color:#001d3d;
}

#divcapa{
/*    width: inherit;*/
    height: 800px;
    background-size: cover;
    background-image: url(../img/fortnite.jpg);
/*
    background-position: center;
    object-position:
*/
}
#buscas{
    width: inherit;
    height: auto;
    min-height:50px;
/*    background-color: beige;*/
    
}
#iconeMenu{
    width:  50px;
    height: 50px;
    float: left;
    background-image: url(../img/barra-de-menu.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    margin-left: 15px;
    margin-top: 5px
}
#barraPesquisar{
    width: 350px;
    height: inherit;
    background-color: aqua;
    padding-top: 5px;
    box-sizing: border-box;
    float: right;
    margin-right: 20px;
}

#inputPesquisa{
    border: 1px solid black;
    border-radius:10px;
}
.catalogo{
    width: 1300px;
    height: auto;
    min-height: 650px;
/*    background-color: azure;*/
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
   
    
    
}

.produto{
    width: 400px;
    height: 600px;
    background-color: #adb5bd;
    float: left;
    margin-top: 10px;
    box-sizing: border-box;
    margin-right: 10px;
    border-radius:5%;
    border: solid 1px black;
    
    
}

.imagem{
    width: 400px;
    height: 365px;
/*    background-color: antiquewhite;*/
}
.formatacaoImg{
     width: 80%;
    height: 365px;
    padding-left: 55;
    box-sizing: border-box; 
    
}


.nomeProduto{
    width: inherit;
    height: 50px;
    padding:10px;
    box-sizing: border-box;
    font-size: 1.3em;
    font-weight: bold;
    
}
.descricaoProduto{
    width: inherit;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    
}
.saibaMaisEpreco{
    width: inherit;
    height: 70px;
/*    background-color: bisque;*/
}
.botao{
    width: 90px;
    height: 35px;
    margin-left: 10px;
    margin-top: 34px;
}
.preco{
    width: 70px;
    height: 35px;
    padding-left: 200;
    font-size: 1.2em;
}

#descicaoEmpresa{
    width: inherit;
    height: 300px;
    background-color:RoyalBlue;
}
#aEmpresa{
    display: flex;
    width: 60%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 25px;
    
}

#SobreEmpresa{
    width: 50%;
    height: inherit;
    padding: 30px
}

p{
    font-size: 1.2em;   
}

#imgEmpresa{
    
    justify-content: center;
    padding-top: 45px;

}
h1{
    margin-bottom: 15px
}

#promocoes{
     width: 1300px;
    height: auto;
    min-height: 650px;
    background-color: azure;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

#destaquesDaloja{
    width: inherit;
    height: 500px;
}
#destaques{
    width: 1300px;
    height: auto;
    min-height: 300px;
    background-color: azure;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 15px; 
    display: flex;
}

.circleBase {
    border-radius: 50%;
/*    behavior: url(PIE.htc);  remove if you don't care about IE8 */
    
}

.type1 {
    width: 250px;
    height: 250px;
    background: yellow;
    border: 3px solid red;
    margin-bottom:10px;
    margin-right: 15px;
}

#footer{
    width: inherit;
    height: 80px;
}